<div class="error container-fixed-height">
  <div class="error-head">
      <a class="team-name error">Error page</a>
  </div>
  <div class="error-body">
      <div>
      </div>
      <div style="padding-bottom: 1em;">
          <legend style="padding-top: 1%;" class="obms-fs-border-mini">What next?</legend>
          <ul>
              <li>If you entered the address by hand, check that it is correct.</li>
              <li>You can try refreshing the page, the problem may be temporary.</li>
              <li>Retrace your steps with back button or head home.</li>
              <li>If problem persists, please contact application owners/admins</li>
          </ul>
      </div>
  </div>
</div>