mat-form-field{
  width: 50%;
}
.margin_left{
  margin-left: 5%!important;
}
.my-card{
  width: 30%;
}
.margin_top{
  margin-top: 3%!important;
}
/* .mat-card-subtitle {
  margin-top: 5px;
  margin-left: 24px;
} */